/* :root {
  --main-red: #b13e53;
  --main-orange: #ef7d57;
  --main-yellow: #ffcd75;
  --main-lime: #a7f070;
  --main-green: #28a754;
  --main-blue: #257179;
  --main-white: #f4f4f6;
  --main-light-grey: #adb0b5;
  --main-grey: #696c70;
  --main-dark-grey: #33373a;
  --main-black: #1a1a1e;
  --link-color: var(--main-orange);
  --bg-color: #fff;
}

* {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
} */

:root, body, * {
  overscroll-behavior: none;
}

div#App, div#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img {
  /* -webkit-user-drag: none; */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div#header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100vw;
  padding: 8px 0;
  background-color: var(--main-dark-grey);
  color: #fff;
  font-weight: 600;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div#header > button#menu {
  margin-right: 20px;
  margin-left: auto;
  font-size: 18px;
  background-color: #0000;
  color: #fff;
  border: none;
  cursor: pointer;
}

div#header > div#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

div#header > div#logo > img#CastAway {
  -webkit-user-drag: none;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s;
}

div#header > div#logo > img#CastAway:hover {
  animation: spin 1.2s infinite linear;
  animation-delay: 2s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div#header > div#logo > h2 {
  font-size: 20px;
  padding: 0 15px 0 8px;
}

div#header > div#options {
  padding-left: 20px;
  display: flex;
}

#myDropdown {
  display: none;
  padding: 15px 20px;
  position: fixed;
  top: 50px;
  right: 5px;
}

#myDropdown > #theme{
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

#myDropdown > #theme > button {
  height: 18px;
  width: 18px;
  border-radius: 20px;
  border: none;
  margin-right: 5px;
}

.pageButton {
  padding: 0 15px;
  color: #fff;
  background-color: #fff0;
  border: none;
  height: max-content;
  cursor: pointer;
  border-bottom: 1px #fff0 solid;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.pageButton:hover {
  color: var(--link-color);
  border-bottom: 1px #aaa9 solid;
}

#PressOptions {
  padding: 3px 15px 3px 2px;
  margin: 2px 0;
  width: inherit;
  cursor: pointer;
  transition: 0.15s ease-out;
  border-left: 0px #0000 solid;
  background-color: #8880;
}

#PressOptions:hover {
  border-left: 5px #6b6b6b55 solid;
  background-color: #cecece22;
}

div#content {
  font-size: 17px;
  margin-top: 30px;
  width: 1400px; /* TODO: Fix this - but why? */
  max-width: 80vw;
  min-height: 100vh;
  align-self: center;
  padding: 50px 20px 0 50px;
  background-color: var(--main-white);
  /* background-color: #b13e53; */
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--main-dark-grey);
  color: #fff;
  padding: 15px;
  width: 100vw;
  font-weight: 600;
  margin-top: 30px;
}

footer > div > div#icons {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
}

footer > div > div > a#github {
  color: var(--main-white);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

footer > div > div > a#github:hover {
    color: var(--main-light-grey);
}

ul, ol {
  padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 100%;
}

h4 {
    font-size: 80%;
}

h5 {
    font-size: 60%;
}

h6 {
    font-size: 45%;
}