:root {
    --main-red: #b13e53;
    --main-orange: #ef7d57;
    --main-yellow: #ffcd75;
    --main-lime: #a7f070;
    --main-green: #28a754;
    --main-blue: #257179;
    --main-white: #f4f4f6;
    --main-light-grey: #adb0b5;
    --main-grey: #696c70;
    --main-dark-grey: #33373a;
    --main-black: #1a1a1e;
}

* {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--main-white);
}

div#header > img#CastAway {
    width: 30px;
    height: 30px;
    padding-left: 15px;
    cursor: pointer;
}

h2 {
    font-size: 20px;
    padding: 0 15px 0 8px;
    cursor: pointer;
}

div#header {
    color: #fff;
    position: fixed; /* Apply the sticky positioning */    
    display: flex;
    align-items: center;
    /* justify-content: left; */
    top: 0; /* Stick the element to the top of the viewport */
    width: 100vw;
    font-weight: 600;
    background-color: var(--main-dark-grey);
    padding: 8px 0;
}

div#header > ul {
    display: flex;
}

div#header > ul > li {
    list-style: none;
    padding: 0 15px;
    color: var(--main-white);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    height: max-content;
    /* position: inherit; */
    border-bottom: 1px #fff0 solid;
    /* border-right: 1px solid var(--main-white); */
    /* opacity: 0.0; */
    /* translate: -100px, 0px; */
    /* transform: translate(-100px, 0px); */
}

/* div#header:hover > ul > li {
    opacity: 1.0;
    transform: translate(-10px, 0px);
} */

/* 
div#header > ul > li:last-child {
    border-right: none;
} */

div#header > ul > li:hover {
    color: var(--main-light-grey);
    border-bottom: 1px #fff8 solid;
}

div#header > a {
    margin-right: 20px;
    margin-left: auto;
    font-size: 18px;
}

.icon-menu {
    transition: 0.3s;
}

div#heaver:hover > .icon-menu {
    opacity: 0.0;
}

div#content {
    margin-top: 30px;
    width: 1400px;
    max-width: 80vw;
    min-height: 100vh;
    align-self: center;
    padding: 50px 20px 0 50px;
    /* background-color: var(--main-white); */
}

ul {
 padding-left: 20px;
}

footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    background-color: var(--main-dark-grey);
    color: #fff;
    padding: 15px 0;
    margin-top: 30px;
    width: 100vw;
    font-weight: 600;
}

footer > div > div#icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
}

a {
    color: var(--main-white);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

a:hover {
    color: var(--main-light-grey);
}

#myDropdown {
    position: fixed;
    right: 20px;
    top: 50px;
    z-index: 0;
    flex-direction: column;
}