:root {
    --main-red: #b13e53;
    --main-orange: #ef7d57;
    --main-yellow: #ffcd75;
    --main-lime: #a7f070;
    --main-green: #28a754;
    --main-blue: #257179;
    --main-white: #f4f4f6;
    --main-light-grey: #adb0b5;
    --main-grey: #696c70;
    --main-dark-grey: #33373a;
    --main-black: #1a1a1e;
    --link-color: var(--main-white);
}

* {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(128deg,#01d486 0%,#3daee8 100%); */
    background-color: var(--main-white);
}

div#header > img#CastAway {
    -webkit-user-drag: none;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div#header > img#CastAway:hover {
    animation: spin 1s infinite linear;
    animation-delay: 2s;
}

h2 {
    font-size: 20px;
    padding: 0 15px 0 8px;
    cursor: pointer;
}

div#header {
    color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    /* justify-content: left; */
    top: 0;
    width: 100vw;
    font-weight: 600;
    background-color: var(--main-dark-grey);
    /* backdrop-filter: blur(10px) brightness(0.4); */
    padding: 8px 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div#header > ul {
    display: flex;
}

div#header > ul > li {
    list-style: none;
    padding: 0 15px;
    color: #fff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    height: max-content;
    border-bottom: 1px #fff0 solid;
}

div#header > ul > li > a {
    transition: 0.2s ease-in-out;
    color: #fff; 
    text-decoration: none;
}

div#header > ul > li:hover {
    color: var(--link-color);
    border-bottom: 1px #aaa9 solid;
}

div#header > ul > li:hover > a {
    color: var(--link-color);
}

div#header > a {
    margin-right: 20px;
    margin-left: auto;
    font-size: 18px;
}

.icon-menu {
    cursor: pointer;
    transition: 0.3s;
}

div#heaver:hover > .icon-menu {
    opacity: 0.0;
}

div#content {
    margin-top: 30px;
    width: 1400px;
    max-width: 80vw;
    min-height: 100vh;
    align-self: center;
    padding: 50px 20px 0 50px;
    /* background-color: var(--main-white); */
}

ul {
 padding-left: 20px;
}

footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    background-color: var(--main-dark-grey);
    color: #fff;
    padding: 15px 0;
    margin-top: 30px;
    width: 100vw;
    font-weight: 600;
}

footer > div > div#icons {
    user-select: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
}

footer > div > div > a {
    color: var(--main-white);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

footer > div > div > a:hover {
    color: var(--main-light-grey);
}

#myDropdown {
    padding: 10px;
    position: fixed;
    right: 20px;
    top: 50px;
    z-index: 0;
    flex-direction: column;
    transition: 0.3s;
    background-color: var(--main-light-grey);
}

#myDropdown > .menu-item {
    text-decoration: none;
    color: #fff;
    min-width: 150px;
    padding: 5px;
    margin: 0px;
    transition: 0.25s ease-out;
    border-left: 3px #0000 solid;
    cursor: pointer;
    /* color: #fff; */
    background-color: #0000;
}

#myDropdown > .menu-item:hover {
    color: #000;
    border-left: 3px #6b6b6b solid;
    background-color: #cecece;
    transform: translate(2px, 0px);
}

#myDropdown > div {
    padding-left: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}


#myDropdown > div > a {
    cursor: pointer;
    margin: 0 0 0 5px;
    width: 18px;
    height: 18px;
    border: #888 solid 3px;
    border-radius: 15.5px;
}

#myDropdown > div > a:first-child {
    background-color: #000;
}

#myDropdown > div > a:last-child { 
    background-color: #fff;
}